# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

edition: "community"

# Name of the secret from which to load additional properties: https://community.sonarsource.com/t/additional-sonar-properties-to-load-from-a-secret/73748
# This secret will be created by the uds operator based on the sso spec defined in chart/templates/uds-package.yaml
sonarSecretProperties: sonarqube-sso

sonarProperties:
  # Update Center requires an internet connection to request https://downloads.sonarsource.com/?prefix=sonarqube/update
  # We disable it by default.
  sonar.updatecenter.activate: false

prometheusExporter:
  enabled: true
  image: ghcr.io/defenseunicorns/uds-package-sonarqube/monitoring:latest

monitoringPasscodeSecretName: sonarqube-monitoring
monitoringPasscodeSecretKey: passcode

prometheusMonitoring:
  podMonitor:
    enabled: false

initSysctl:
  enabled: false

initFs:
  enabled: false

elasticsearch:
  configureNode: false

jdbcOverwrite:
  enable: true # DEPRECATED: use `jdbcOverwrite.enabled` in v10.7.0
  enabled: true
  jdbcUrl: jdbc:postgresql://###ZARF_VAR_SONARQUBE_DB_ENDPOINT###:5432/###ZARF_VAR_SONARQUBE_DB_NAME###
  jdbcUsername: ###ZARF_VAR_SONARQUBE_DB_USERNAME###
  jdbcPassword: null
  jdbcSecretName: sonarqube-postgres
  jdbcSecretPasswordKey: password

postgresql:
  enabled: false
