{{- $namespace := .Release.Namespace }}
{{- $existingSecret := lookup "v1" "Secret" $namespace "sonarqube-monitoring" }}
{{- $password := (randAlphaNum 16) }}
{{- if $existingSecret }}
  {{- $decoded := index $existingSecret.data "passcode" | b64dec }}
  {{- $password = $decoded }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: sonarqube-monitoring
  namespace: {{ $namespace }}
type: "Opaque"
stringData:
  passcode: {{ $password | quote }}
