# This secret will be used if sso is disabled, instead of the templated one in uds-package.yaml. 
# Sonarqube needs to mount the secret and creating it this way avoids creating an unnecessary 
# client in the keycloak realm and unnecessary secret data in the cluster.
{{- if not .Values.sso.enabled }}

apiVersion: v1
kind: Secret
metadata:
  name: "###ZARF_VAR_SONARQUBE_SSO_SECRET_NAME###"
  namespace:  {{ .Release.Namespace }}
type: "Opaque"
stringData:
  secret.properties: |
    sonar.auth.saml.enabled: {{ .Values.sso.enabled }}

{{- end }}
