apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: sonarqube
  namespace: {{ .Release.Namespace }}
spec:
  {{- if .Values.sso.enabled }}
  sso:
    - name: SonarQube Login
      clientId: uds-swf-sonarqube
      redirectUris:
        - "https://sonarqube.{{ .Values.domain }}/oauth2/callback/saml"
      protocol: saml
      defaultClientScopes:
        - "mapper-saml-email-email"
        - "mapper-saml-username-login"
        - "mapper-saml-username-name"

      attributes:
        saml.client.signature: "false"

      secretName: {{ .Values.sso.secretName }}
      # This secret template configures the sonarqube saml support documented here: https://docs.sonarsource.com/sonarqube/latest/instance-administration/authentication/saml/overview/
      secretTemplate:
        secret.properties: |
            sonar.auth.saml.enabled: {{ .Values.sso.enabled }}
            sonar.core.serverBaseURL: https://sonarqube.{{ .Values.domain }}
            sonar.auth.saml.applicationId: clientField(clientId)
            sonar.auth.saml.providerName: {{ .Values.sso.saml.providerName }}
            sonar.auth.saml.providerId: https://sso.{{ .Values.domain }}/realms/uds
            sonar.auth.saml.loginUrl: https://sso.{{ .Values.domain }}/realms/uds/protocol/saml
            sonar.auth.saml.user.login: login
            sonar.auth.saml.user.name: name
            sonar.auth.saml.user.email: email
            sonar.auth.saml.certificate.secured: clientField(samlIdpCertificate)
  {{- end }}
  network:
    expose:
      - service: sonarqube-sonarqube
        podLabels:
          app: sonarqube
        gateway: tenant
        host: sonarqube
        port: 9000
    allow:
      # Todo: wide open for hitting in-cluster or external postgres
      - direction: Egress
        podLabels:
          app: sonarqube
        remoteGenerated: Anywhere

      - direction: Egress
        remoteNamespace: keycloak
        remoteSelector:
          app.kubernetes.io/name: keycloak
        selector:
          app: sonarqube
        port: 8080
        description: "SSO Internal"

      - direction: Egress
        remoteNamespace: istio-tenant-gateway
        remoteSelector:
          app: tenant-ingressgateway
        selector:
          app: sonarqube
        port: 443
        description: "SSO External"

      - direction: Egress
        selector:
          app: sonarqube
        {{- if .Values.postgres.internal }}
        remoteNamespace: {{ .Values.postgres.namespace | quote }}
        remoteSelector:
          {{ .Values.postgres.selector | toYaml | nindent 10 }}
        port: {{ .Values.postgres.port }}
        {{- else }}
        remoteGenerated: Anywhere
        {{- end }}
        description: "Sonarqube Postgres"

      # Custom rules for unanticipated scenarios
      {{- range .Values.custom }}
      - direction: {{ .direction }}
        selector:
          {{ .selector | toYaml | nindent 10 }}
        {{- if not .remoteGenerated }}
        remoteNamespace: {{ .remoteNamespace }}
        remoteSelector:
          {{ .remoteSelector | toYaml | nindent 10 }}
        port: {{ .port }}
        {{- else }}
        remoteGenerated: {{ .remoteGenerated }}
        {{- end }}
        description: {{ .description }}
      {{- end }}
