tasks:
  - name: health-check
    actions:
      # StatefulSets don't show conditions themselves so we look for an underlying Pod
      - description: Sonarqube StatefulSet Health Check
        wait:
          cluster:
            kind: Pod
            name: app=sonarqube
            namespace: sonarqube
            condition: Ready

  - name: ingress
    actions:
      - description: Sonarqube UI Health Check
        wait:
          network:
            protocol: https
            address: sonarqube.uds.dev
            code: 200

  - name: ui
    description: Sonarqube UI Checks
    actions:
      - cmd: npm ci
        dir: tests
      - cmd: npx playwright install --with-deps
        dir: tests
      - cmd: npx playwright test
        dir: tests
