tasks:
  - name: all
    actions:
      - task: health-check
      - task: ingress
      - task: ui

  - name: health-check
    actions:
      # StatefulSets don't show conditions themselves so we look for an underlying Pod
      - description: SonarQube StatefulSet Health Check
        wait:
          cluster:
            kind: Pod
            name: app=sonarqube
            namespace: sonarqube
            condition: Ready

  - name: ingress
    actions:
      - description: SonarQube UI Status Check
        maxRetries: 30
        cmd: |
          STATUS=$(curl -s 'https://sonarqube.uds.dev/api/system/status' | ./uds zarf tools yq '.status')
          echo "SonarQube system status: ${STATUS}"
          if [ $STATUS != "UP" ]; then
            sleep 10
            exit 1
          fi

  - name: ui
    description: SonarQube UI Checks
    actions:
      - cmd: npm ci
        dir: tests
      - cmd: npx playwright install --with-deps
        dir: tests
      - cmd: npx playwright test
        dir: tests

  - name: migrate-db
    actions:
      - description: Perform DB migrations if necessary
        cmd: |
          STATUS=$(curl -XPOST -s 'https://sonarqube.uds.dev/api/system/migrate_db' | ./uds zarf tools yq '.state')
          echo "SonarQube migration state: ${STATUS}"
